<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetOpenAuth.Ultimate" version="4.2.2.13055" targetFramework="net45" />
  <package id="DotNetOpenAuth.Ultimate" version="4.3.0.13117" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
</packages>